<!-- This should be the navbar here reach back to index css.html, fast_api.html, index.html, notes.html slowdemo.html
        web_development, and webserving-->


<nav class="navbar">
    <ul class="nav-list">
        <li>
            <a href="/" class="nav-links">Home</a>
        </li>
        <li>
            <a href="/basics" class="nav-links">Basics</a>
        </li>
        <li>
            <a href="/web_serving" class="nav-links">Web Serving</a>
        </li>
        <li>
            <a href="/slowdemo" class="nav-links">JavaScript Demo</a>
        </li>
    </ul>
</nav>
