<!-- This should be the navbar here reach back to index css.html, fast_api.html, index.html, notes.html slowdemo.html
        web_development, and webserving-->


<nav class="navbar">
    <ul class="nav-list">
        <li>
            <a href="/" class="nav-links">Home</a>
        </li>
<!--        <li>-->
<!--            <a href="/basics" class="nav-links">Basics</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/css" class="nav-links">CSS</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/fast_api" class="nav-links">Fast API</a>-->
<!--        </li>-->
        <li>
            <a href="/items" class="nav-links">Items - Template Demo with MySQL Connection</a>
        </li>
<!--        <li>-->
<!--            <a href="/view_notes" class="nav-links">Notes</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/slowdemo" class="nav-links">JavaScript Demo</a>-->
<!--        </li>-->
        <li>
            <a href="/web_development" class="nav-links">Web Development</a>
        </li>
        <li>
            <a href="/domdemo" class="nav-links">Dom Manipulation Demo</a>
        </li>
<!--        <li>-->
<!--            <a href="/web_development" class="nav-links">Web Development</a>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="/web_serving" class="nav-links">Webserving</a>-->
<!--        </li>-->
    </ul>
</nav>
